html,
body {
	font-family: sans-serif !important;
	width: 100%;
	overflow-x: hidden;
}
input {
	border-radius: 2px !important;
}
select {
	border-radius: 2px !important;
}
label {
	color: grey;
}
a {
	color: #0366d6;
}

code {
	color: #e01a76;
}
.grey {
	color: #888888;
}
.vcv-timeline {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	max-width: 930px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	color: #a7a7a7;
}
.vcv-timeline-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex: 1 0 auto;
	padding: 0;
}
.vcv-timeline-item::before,
/* .vcv-timeline-item::after {
	content: "";
} */ .vcv-timeline-item::before {
	content: attr(data-step);
	display: -webkit-inline-box;
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	flex: 0 0 32px;
	height: 32px;
	margin: 0 10px 0 0;
	border-radius: 50%;
	border: 2px solid #a7a7a7;
	color: #a7a7a7;
}
.vcv-timeline-item::after {
	height: 2px;
	background: #a7a7a7;
	width: 100%;
	margin: 0 10px;
}

.vcv-timeline-item:last-of-type::after {
	display: none;
}
.vcv-timeline-item.vcv-step-done::before {
	content: "";
	border-color: #aace35;
	background: #aace35
		url("data:image/svg+xml,%0A%3Csvg width='14px' height='11px' viewBox='0 0 14 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Activation-Theme-to-Premium' transform='translate(-827.000000, -183.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Activation-02' transform='translate(342.000000, 172.000000)'%3E%3Cg id='Navigation' transform='translate(44.000000, 0.000000)'%3E%3Cg id='check' transform='translate(441.000000, 11.000000)'%3E%3Cpolygon id='Path' points='11.8606017 0 4.86058121 6.82615443 2.13952103 4.17292819 0 6.25973131 4.8606221 11 14 2.08684301'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
		no-repeat center;
	background-size: 40%;
}
.vcv-timeline-item.vcv-step-done::after {
	background: #aace35;
}
@media screen and (max-width: 768px) {
	.vcv-timeline {
		margin-bottom: 50px;
	}
	.vcv-timeline-item {
		position: relative;
	}
	.vcv-timeline-item span {
		text-align: left;
		margin: 10px 0 0;
		position: absolute;
		top: 30px;
		width: 100%;
		left: 2px;
	}
	.vcv-timeline-item:last-of-type {
		-webkit-box-flex: 0;
		flex: 0 0 auto;
		margin: 0 30px 0 0;
	}
	.vcv-timeline-item::before {
		margin: 0;
	}
	.vcv-timeline-item::after {
		-webkit-box-flex: 0;
		flex: 0 1 auto;
	}
}

.b-1-g {
	border: 1px solid grey;
}
.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.tx-c {
	text-align: center;
}
.tx-l {
	text-align: left;
}
.tx-r {
	text-align: right;
}

.tx-b {
	font-size: 18px;
}
.bb-1 {
	border-bottom: 1px solid grey;
	margin-top: 6px;
	margin-bottom: 8px;
}
.steps-button {
	text-align: right;
	margin-top: 12px;
}
.steps-button button {
	text-align: center;
	width: 20%;
	height: 45px;
	border: 0;
	border-radius: 4px;
	background: red;
	color: #ffffff;
	flex-flow: row nowrap;
	justify-content: flex-start;
	position: inherit;
}
.edit-button {
	text-align: right;
}
.edit-button button {
	text-align: center;
	width: 45%;
	height: 40px;
	border: 0;
	border-radius: 4px;
	background: red;
	color: #ffffff;
	flex-flow: row nowrap;
	justify-content: flex-start;
	position: inherit;
}
.error-color {
	color: red;
}
.trip-cont {
	font-size: 16px;
	padding: 8px;
	color: red;
}
.select-button {
	border: 2px solid #6faa6f;
	padding: 12px;
	border-radius: 10px;
	cursor: pointer;
	background-color: white;
}
.active-select {
	background-color: #6faa6f;
}
.hotel-image {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.select-hotel {
	background-color: red;
	border: 0;
	border-radius: 25px;
	padding: 8px;
	width: 100%;
	vertical-align: middle;
	color: azure;
	margin-bottom: 8px;
}
.hotel-card {
	border-radius: 2px;
	text-align: left;
}
.react-calendar__month-view__days__day--weekend {
	color: inherit !important;
}
[title~=Thursday] {
	color: red !important;
}
[title~=Friday] {
	color: red !important;
}
.react-calendar__tile--active {
	background-color: red !important;
}
.bg-image {
	background-image: url('./assets/bg.png');
	background-size: cover;
	min-height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
}
.login-form {
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}
.login-form input {
	text-align: center;
}
.data-form {
	border-radius: 8px;
	box-shadow: 0px 0px 30px 0px grey;
}
.spinner-cont {
	margin-left: 50%;
	margin-top: 5%;
}
.color-bg {
	/* background-image: linear-gradient(-90deg, red, white 40%); */
	background-size: cover;
	background-position: center center;
	width: 100%;
	background-repeat: no-repeat;
}
.header {
	background-color: white;
	box-shadow: 25px -16px 25px 17px grey;
}

@media (min-width: 768px) {
	.select-hotel {
		margin-top: 4.5rem;
	}
	.login-form {
		margin-left: 45%;
		margin-top: 12%;
	}
	.show-text {
		font-Size: 28px;
		margin-Top: 2rem;
		padding-Left: 14rem;
		padding-Right: 14rem;
		color: white;
	}
	.dmt {
		margin-top: 2.3rem;
	}
	.calendar {
		z-index: 10;
		position: absolute;
		left: 25%;
	}
}
@media (max-width: 768px) {
	.select-hotel {
		margin-top: 24px;
		margin-bottom: 12px;
	}
	.vcv-timeline {
		display: none;
	}
	.login-form {
		margin-top: 20%;
	}
	.show-text {
		font-Size: 22px;
		margin-Top: 25%;
		padding-Left: 1rem;
		padding-Right: 1rem;
		color: white;
	}
}
